body {
    font-family: system-ui, -apple-system, 'Montserrat', 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
}

* {
    font-weight: normal;
}


/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
} */


/* p {
    color: #8f8f8f;
} */


/* Headings */

.big-heading {
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    /* usando la propiedad '-Black' */
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


/* Sections */

.colored-section {
    position: relative;
}


/* Navigation Bar */

.navbar-nav {
    align-items: center;
}

.navbar {
    position: relative;
}

.supnav:hover,
.supnav:focus {
    text-decoration: underline #fff;
}

.navbar-brand {
    /* font-family: 'Ubuntu', 'Montserrat', sans-serif; */
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    /* font-weight: 100; */
}

.styck-nav {
    position: sticky;
    padding: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: #111;
}

.growR {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 1em 0;
}

.nav-m {
    width: 100%;
    margin: 0 !important;
    justify-content: space-between;
}

.titlen2 {
    font-size: 21px;
}

.stTitle {
    font-size: 12px;
}

.btn1 {
    border-radius: 30px;
    width: 100px;
}


/* Button section */

.download-btn {
    margin: 5% 3% 5% 0;
}


/* Images */

.title-img {
    position: absolute;
    right: 30%;
    transform: rotate(30deg);
    width: 60%;
}


/* Features section */

#features {
    position: relative;
    z-index: 10;
}

.feature-title {
    font-size: 1.5rem;
}

.features-esp {
    text-align: center;
    padding: 5%;
}


/* Testimonials Section */

#title .container-fluid {
    padding: 3% 5% 8%;
    text-align: center;
}

.testimonial-dog {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.testimonial-txt {
    font-size: 3rem;
    line-height: 1.5;
}


/* Press Section */

#press {
    padding-bottom: 3%;
}

.logo {
    margin: 20px 20px 50px;
    width: 15%;
}


/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-txt {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing_col {
    padding: 3% 2%;
}

.hide {
    color: #ffffff00;
}


/* Cta & Footer Section */

.controlador {
    position: relative;
    z-index: 6;
    overflow: visible;
    height: 88vh;
}

.divC1 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    overflow: hidden;
    background: #000;
}

.img1 {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.blurr {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20vh;
    z-index: 10;
    height: 20vh;
    background: linear-gradient(180deg, #000, transparent 100%, transparent);
}

.card1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    z-index: 10;
    height: 30px;
    background: #111;
}

.underTxt {
    position: relative;
    z-index: 3;
    margin-top: -100vh;
    background: #111;
}

.textHold {
    height: 1240px;
}

.intro-subhead {
    font-size: 5rem;
}

.innerText {
    background: #000;
    position: sticky;
    height: 100vh;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0 1em;
    color: #fff;
    text-decoration: none;
}

.left:focus,
.right:focus,
.left:hover,
.right:hover {
    color: #978b8b;
    text-decoration: underline #fff;
}

.order {
    width: 84%;
    padding: 60px 0;
}

.vista3 {
    position: relative;
    z-index: 5;
    display: grid;
    height: 100vh;
    max-height: 780px;
    padding: 0;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 3016px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #111;
}

.vistaImagen {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.vistaImagenimg {
    height: 100%;
    padding: 60px 0 0 60px;
}

.img1:hover,
.imgV1:hover,
.imgV2:hover,
.imgV3:hover,
.imgV4:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform .5s;
}

.imgV1 {
    transform: translate3d(0px, 34.7592px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    /* l */
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.imgV2 {
    transform: translate3d(0px, 18.2656px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    width: 100%;
    height: 150%;
}

.imgV3 {
    display: none;
    transform: translate3d(0px, 9.1328px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    max-width: 265px;
}

.imgV4 {
    display: inline-block;
    transform: translate3d(0px, 33.1136px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    max-width: 265px;
}

.dobleImg {
    position: relative;
    z-index: 2;
    margin-top: -100vh;
    height: 200vh;
}

.dosCuadros {
    position: sticky;
    top: 0px;
    display: block;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.gridDisplay {
    z-index: 100;
    display: grid;
    height: 100vh;
    padding: 30px 0;
    grid-auto-columns: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 16px;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: auto;
    background-color: #111;
}

.gridA {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.textGrid {
    transform: translate3d(0px, 7.496px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.textGT {
    width: 90%;
}

.textG {
    width: 50%;
}

.imgHolder {
    overflow: hidden;
    padding-top: 30vh;
    background: #000;
}

.cameraView {
    position: relative;
    z-index: 1;
    margin-top: -100vh;
    background: #000;
}

.bgCameras {
    position: relative;
    z-index: 1;
    height: 200vh;
}

.camera-container {
    position: absolute;
    right: auto;
    bottom: auto;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 300vh;
}

.holder {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.holderC {
    position: relative;
    height: 100vh;
}

.camaras {
    position: absolute;
    left: -175px;
    top: 50%;
    z-index: 1;
    width: 1507px;
    height: 1627px;
    /* -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%); */
    transform: translate(0px, -50%);
}

.lentes-u {
    position: absolute;
    right: auto;
    bottom: auto;
    left: 0;
    top: 0;
    transform-origin: 641.9094746907552px 756.4356689453125px;
}

.lentes-u::after {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-7.4172deg) skew(0deg, 0deg);
}

.lentes-m {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -366.5px;
    transform-origin: -105.25961176554358px 409.8880615234375px;
}

.lentes-m::after {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-7.4172deg) skew(0deg, 0deg);
}

.lentes-b {
    position: absolute;
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
    transform-origin: 567.3501065572103px -66.8236083984375px;
}

.lentes-b::after {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-7.4172deg) skew(0deg, 0deg);
}

.imgT1 {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(20deg) skew(0deg, 0deg);
}

.lente {
    width: 736px;
    height: 733px;
}

.cameratext {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    flex: 0 83.33333%;
}

.cameraTitle {
    font-size: 5rem;
    opacity: 0;
    transform: translate3d(0px, 0.1469px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.cameraSub {
    opacity: 0.5759;
    transform: translate3d(0px, 6.13575px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    font-size: 3rem;
    margin-top: 20px;
}

.cameraSub {
    display: none;
}

.imgHolder img {
    transform: translate3d(0px, 11.9936px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    width: 100%;
    height: 100%;
}

.imgHolder img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: transform .5s;
}


/* #footer {} */

footer {
    color: #111;
}

.footer-i {
    margin: 20px 10px;
}

.fo-p {
    font-size: 1.5rem;
    color: grey;
}

.container-fluid svg:hover {
    color: #fff;
}


/* Media query Section */

@media (max-width: 767px) {
    .title-img {
        position: static;
        transform: none;
    }
    #title {
        text-align: left;
    }
    .titlen2 {
        font-size: 1rem;
    }
    .growR {
        width: 100%;
    }
    .growR .navbar-nav {
        margin: 0 !important;
        width: 100%;
        flex-direction: row;
    }
    .nav-m {
        justify-content: space-between;
    }
    .nav-m .nav-item {
        width: calc(90% /4);
        padding: .3125rem 18px;
    }
    .nav-m .nav-item:nth-child(2),
    .nav-m .nav-item:nth-child(3) {
        display: none;
    }
    .btn {
        width: 60px;
        padding: 0;
    }
}

@media (max-width: 1000px) {
    .title-img {
        position: static;
        transform: none;
    }
    #title {
        text-align: left;
    }
}

@media (max-width: 1100px) {
    .title-img {
        position: absolute;
        right: 30%;
        transform: rotate(30deg);
        width: 60%;
    }
    #title {
        text-align: center;
    }
}